.con {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
}

img {
  width: 90%;
  height: 400px;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: var(--text-color);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 38px;
  z-index: 1;
}

.prev {
  left: 75px;
}

.next {
  right: 75px;
}

.slide {
  transition: ease-in 2s;
}

.small-cards {
  color: var(--text-color);
  margin-bottom: 30px;
  
}

h4 {
  font-size: 20px !important;
}
.aese {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.h {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin: 10px 35px; */
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  margin-bottom: 40px;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--text-color);
  margin-bottom: 40px;
}

.card img {
  height: 160px;
  width: 130px;
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 5px;
}

.card img:hover {
  border: 2px dotted orangered;
}

.table {
  width: 95%;
  text-align: center;
  font-family: Arial, sans-serif;
  border: 2px solid var(--text-color);
  padding: 20px;
  margin: 20px 30px 30px 30px;
  border-radius: 7px;
  color: var(--text-color);
  background-color: rgb(96, 96, 195);
}

.table h2 {
  margin-bottom: 20px;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.option {
  padding: 20px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.option:hover {
  background-color: #f5bf8a;
  transform: translateY(-2px);
}


.v-card img {
  height: 250px;
  width: 150px;
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 5px;
}

.poi {
  text-align: center;
}

.points-table {
  margin: 30px;
  width: 95%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}


.teams {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.points-table h1 {
  text-align: center;
  margin-bottom: 20px;
}

.team-l img {
  margin-bottom: 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.team-info h2 {
  font-size: 20px;
}

.team-card {
  border-radius: 10px;
  padding: 50px;
  background-color: rgb(28, 113, 224);
  /* background-color: var(--primary-color) !important; */
  /* color: var(--text-color); */
 }